html
  head
    link(rel='stylesheet', href='../css/style.css')
    link(rel='stylesheet', href='../css/normalize.css')
    link(rel='stylesheet', href='../css/skeleton.css')
    script(tpye='text/javascript', src='../js/jquery.min.js')
    script(tpye='text/javascript', src='../js/site.js')
  body
    header
      h1 Zcash Fork Detector

  .container
    .fork
      h1 Is there currently a chainfork?
      .status
        h1 #{forkStatus}
